# OS X
.DS_Store

# IntelliJ IDEA
.idea/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Node.js
node_modules/

# Logs
logs/
*.log

# Other
.env
.env.*
.tmp/
*.bak
*.swp
